%h1 Listing users
%hr/
.box
  %table
    %tr
      %th Email
      %th
      %th
      %th
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete

.actions
  = link_to users_path, remote: true do
    .refresh Refresh
    
  = link_to new_user_path do
    .new-user New User