!!! 5
- ie_html class: 'no-js', lang: 'en' do
  %head
    = render "layouts/application/head", stylesheet_partial: "layouts/application/stylesheets"
  
  %body{ class: "#{controller.controller_name}" }
    #page
      %header#header
        = render "layouts/application/header"
        
      #main{ role: 'main' }
        = render "layouts/application/flashes"
        = yield
      
      #sticky-footer

    %footer= render "layouts/application/footer"
                
    -# Javascript at the bottom for fast page loading
    = render "layouts/application/javascripts"
